.Main{
    display: block;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    justify-content: center;
    /* align-content: stretch;
    align-items: center; */
    
}
.Main > img{
    /* height: 100px; */
    width: 20%;
}


